@page "/Commentators"

<div class="card border-success" id="FormatSelectionCard" style="height: 100%;">
    <div class="card-header bg-success border-success text-white row">
        <div class="col-4">
            <button class="btn btn-success btn-outline-light oi oi-data-transfer-upload" id="submitCommentatorsButton" @onclick="@(async () => await OnSubmitCommentatorsClick())" title="Submit Commentators"></button>
        </div>
        <div class="col-4 text-center">
            <text class="panel-title">Manage Commentators</text>
        </div>

        <div class="col-4 text-right">
            <button class="btn btn-success btn-outline-light oi oi-plus" id="addCommentatorButton" @onclick="@(async () => await OnAddButtonClick())" title="Add a new Commentator"></button>
        </div>
    </div>
    <div class="card-body" style="margin-bottom: 100px;">
        @for (var i = 0; i < _commentators.Count; i++)
        {
            var commentator = _commentators[i];
            var index = i;
            <div class="row">
                <div class="col-4 col-md-5">
                    <label for="CommenatorName@(i)" class="form-label">Name</label>
                </div>
                <div class="col-4 col-md-5">
                    <label for="CommenatorTwitter@(i)" class="form-label">Twitter</label>
                </div>
            </div>

            <div class="row">
                <div class="col-4 col-md-5 mb-2">
                    <input type="text" @bind-value="commentator.Name" class="form-control" id="CommentatorName@(i)">
                </div>
                <div class="col-4 col-md-5 mb-2">
                    <input type="text" @bind-value="commentator.Twitter" class="form-control" id="CommentatorTwitter@(i)">
                </div>
                <div class="col-4 col-md-2">
                    <div class="row">
                        @if (i == 0)
                        {
                            if (_commentators.Count != 1)
                            {
                                <div class="col-4 col-lg-3 col-xxl-2">
                                    <button type="button" class="btn btn-primary" @onclick="@(async () => await OnMoveDownButtonClick(index))"><span class="oi oi-arrow-bottom"></span></button>
                                </div>
                            }
                            <div class="@CalculateDeleteButtonColOffset">
                                <button type="button" class="btn btn-danger" @onclick="@(async () => await OnRemoveButtonClick(index))"><span class="oi oi-x"></span></button>
                            </div>
                        }
                        else if (i == _commentators.Count - 1)
                        {
                            <div class="col-4 offset-4 col-lg-3 offset-lg-3 col-xxl-2 offset-xxl-2">
                                <button type="button" class="btn btn-primary" @onclick="@(async () => await OnMoveUpButtonClick(index))"><span class="oi oi-arrow-top"></span></button>
                            </div>
                            <div class="col-4 col-lg-3 col-xxl-2">
                                <button type="button" class="btn btn-danger" @onclick="@(async () => await OnRemoveButtonClick(index))"><span class="oi oi-x"></span></button>
                            </div>
                        }
                        else
                        {
                            <div class="col-4 col-lg-3 col-xxl-2">
                                <button type="button" class="btn btn-primary" @onclick="@(async () => await OnMoveDownButtonClick(index))"><span class="oi oi-arrow-bottom"></span></button>
                            </div>
                            <div class="col-4 col-lg-3 col-xxl-2">
                                <button type="button" class="btn btn-primary" @onclick="@(async () => await OnMoveUpButtonClick(index))"><span class="oi oi-arrow-top"></span></button>
                            </div>
                            <div class="col-4 col-lg-3 col-xxl-2">
                                <button type="button" class="btn btn-danger" @onclick="@(async () => await OnRemoveButtonClick(index))"><span class="oi oi-x"></span></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>